ul {
  padding: 0;
}
li {
  list-style: none;
}
.dropdown-head {
  color: #333;
  text-decoration: none;
}
.list {
  padding: 0;
  border: solid 1px #ccc;
}
.list-item .dropdown-head {
  position: relative;
  padding: 8px;
  border-bottom: solid 1px #ccc;
}
.list-item .dropdown-head {
  display: block;
}
.list-item:last-of-type .dropdown-head {
  border-bottom: none;
}
.list-item > .dropdown-head::after {
  content: "▼";
  position: absolute;
  top: 12px;
  right: 10px;
}
.list-item > .dropdown-head.active::after {
  content: "▲";
}
